In [ ]:
#cvopy and deep copy python lists

In [1]:
def showDetails(*args):
    for i in range(len(args)):
        variable = args[i]
        print(f"The Value of { i+1 } variable is \t{variable }\t its id is \t {id(variable)}")
    
    print("\n\n")

In [2]:
listA = [2, 4, 6, [1, 3]]
listB = listA
showDetails(listA,listB)
listB[1] = 44

showDetails(listA,listB)
listB[3][1] = 10


showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2541232065216
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2541232065216



The Value of 1 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 2541232065216
The Value of 2 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 2541232065216



The Value of 1 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 2541232065216
The Value of 2 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 2541232065216

In [ ]:
#Shallow copy using the list() constructor
# it only works for 1D lists of native data types

In [3]:
listA = [2, 4, 6, [1, 3]]
listB = list(listA)
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55

showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2541233388992
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 2541233451456



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 2541233388992
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 2541233451456

In [ ]:
#Other ways to make a shallow copy 
#list comprehension,list.copy(),or copy.copy()can also be used to make shallow copies

In [2]:
listA = [2, 4, 6, [1, 3]]
listB = [x for x in listA]
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4381570816
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387263168



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 4381570816
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 4387263168

In [3]:
listA = [2, 4, 6, [1, 3]]
listB = listA.copy()
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387420032
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4386780352



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 4387420032
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 4386780352

In [4]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.copy(listA)

showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387419968
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4381570816



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 4387419968
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 4381570816

In [ ]:
#Deep copy a python list
#use copy.deepcopy()

In [5]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.deepcopy(listA)
showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387531584
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387532992



The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 4387531584
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 4387532992

In [ ]:
#Deep copy with objects

In [6]:
class Pony():
    def __init__(self, n):
        self.name = n
        
# copy.copy on an object gives you 2 unique objects (with same attributes)
pony1 = Pony('Pinto')
pony2 = copy.copy(pony1)
showDetails(pony1,pony2)

print(id(pony1), id(pony2))

# copy.copy on a list of objects gives you 2 unique lists containing the exact same objects    
# (ie. new list is a shallow copy)
m = [pony1, pony2]
n = copy.copy (m)
print(id(m[0]), id(n[0]))

# use copy.deepcopy to deep copy a list of objects
n = copy.deepcopy (m)
print(id(m[0]), id(n[0]))

The Value of 1 variable is 	<__main__.Pony object at 0x105867b80>	 its id is 	 4387666816
The Value of 2 variable is 	<__main__.Pony object at 0x105867760>	 its id is 	 4387665760



4387666816 4387665760
4387666816 4387666816
4387666816 4387730048